.container{
    width: 360px;
    height: 640px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
}

.logo {
    background: url(/assets/png/logo.png) no-repeat;
    margin: 3% -3% 0% 0%;
    width: 100px;
    height: 180px;
}

.artist-quiz {
    background: url(/assets/png/artists-quiz.png) no-repeat;
    filter: drop-shadow(-10px 15px 30px rgba(0, 0, 0, 0.25));
}
.title-artist {
    background: rgba(255, 255, 255, 0.75);
    width: 330px;
    height: 39.95px;
    margin-left: 15px;
    margin-top: 51%;
}
.pictures-quiz {
    background: url(/assets/png/pictures-quiz.png) no-repeat;
    filter: drop-shadow(-10px 15px 30px rgba(0, 0, 0, 0.25));
}
.title-pictures {
    background: rgba(255, 255, 255, 0.75);
    width: 330px;
    height: 39.95px;
    margin-left: 15px;
    margin-top: 51%;
}

.settings-img{
    display: flex;
    background: none;
    width: 50px;
    height: 50px;
}

.img-quiz{
    width: 75%;
    height: 75%;
    margin: 4% 0% 0% 25%;
    background: none;
}

.settings-txt{
    background: none;
    margin-top: 10%;
    height: 20px;
}