@mixin main-txt {
    font: {
        family: 'Montserrat';
        style: normal;
        weight: normal;
        size: 24px;
    }
    text-transform: uppercase;
    color: #660033;
    background: none;
    text-align: center;
}
$main-color: #660033;


.qestions-wrap {
    width: 360px;
    height: 640px;
    margin: 0 auto;
    background: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header{
    height: 80px;
    background: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.logoQ {
    background: url(/assets/png/logo.png) no-repeat;
    margin: 4% 0% 0% 0%;
    width: 100px;
    height: 65px;
}

.time {
    @include  main-txt;
    width: 50px;
    height: 50px;
    background: none;
}

.home-btn {
    width: 50px;
    height: 50px;
    background: #660033;
    border: 1px solid $main-color;
}

.home-img{
    width: 40px;
    height: 37px;
    background: none;
    margin: 5px;
}

.qestion {
    @include main-txt;
    font-weight: 500;
    line-height: 29px;
    height: 60px;
    width: 280px;
    margin: auto;
    margin-top: 15px;
}

.pic-box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 360px;
    height: 365px;
    // background: url(/assets/img/1.jpg);
}

.qestion-num {
    width: 7px;
    height: 7px;
    border: 1px solid #C4C4C4;
    border-radius: 100%;
    background: #C4C4C4;
    margin: 7px;
}

.active {
    background: #006635;
    border: 1px solid #006635;
}

.answer-box {
    display: flex;
    flex-wrap: wrap;
    height: 100px;
}

.answer {
    @include main-txt;
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 178px;
    height: 50px;
    border: 1px solid $main-color;
    background: #fff;

    &:hover{
        background: rgba(102, 0, 51, 0.5);
    }

    // &:active{
    //     background: rgba(0, 102, 53, 0.5);
    // }
}

.choose{
    background: rgba(0, 102, 53, 0.5);
}

.right-answer-wrap {
    background: rgba(71, 71, 71, 0.651);
    position: absolute;
    z-index: 1;
    width: 360px;
    height: 675px;
}

.right-answer-box {
    position: absolute;
    left: 8%;
    top: 27%;
    z-index: 2;
    width: 300px;
    height: 360px;
    background: white;
    border-radius: 5%;
}
.right-answer-img {
    width: 170px;
    height: 170px;
    margin: 10% 0% 5% 21%;
}

.pic-name {
    @include main-txt;
    font-size: 18px;
    line-height: 18px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3%;
    height: 20px;
}

.pic-author {
    @include main-txt;
    font-size: 18px;
    line-height: 18px;
    margin: 0 auto;
    text-align: center;
    height: 20px;
}

.pic-year {
    @include main-txt;
    font-size: 18px;
    line-height: 18px;
    margin: 0 auto;
    text-align: center;
    height: 20px;
}

.next-qestion {
    @include main-txt;
    font-size: 16px;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    border: 1px solid $main-color;
    background: $main-color;
    margin: 5% 0% 5% 25%;

    &:hover{
        font-size: 18px;
        width: 160px;
        height: 50px;
        margin: 5% 0% 5% 23%;
        transition: 1s;
    }
}

.visible{
    display: block;
    visibility: visible;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .hidden{
    display: block;
    visibility: hidden;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }